.second-main {
  width: 1024px;
  height: 768px;
  background-image: url("../img/secondPagePics/bg.png");
  background-size: cover;
}

.second-page-block {
  position: relative;
  align-items: center;
  text-align: left;
}

.second-page-block :first-child {
  display: block;
  text-align: left;
}

#smallText {
  font-family: "DIN Pro Regular";
  font-size: 0.5rem;
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix(5.07288435581728, 0, 0, 5.03087612481503, 0, 0);
  -webkit-transform: matrix(5.07288435581728, 0, 0, 5.03087612481503, 0, 0);
  -ms-transform: matrix(5.07288435581728, 0, 0, 5.03087612481503, 0, 0);
  position: absolute;
  left: 141px;
  top: 158px;
  z-index: 30;
}

.body_txt {
  border-radius: 80px;
  background-color: rgb(255, 255, 255);
  width: 1550px;
  height: 890px;
}

#bold2 {
  display: inline;
  font-family: "DIN Pro Bold";
}

.text1 {
  font-family: "DIN Pro Regular";
  scale: -1;
}

.second-page-text-block {
  display: flex;
  z-index: 28;
}

.text-wrapper {
  border-radius: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 33;
  box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
  width: 775px;
  height: 445px;
  top: 225px;
  left: 120px;
  top: 250px;
}

.second-page-text {
  position: absolute;
  left: -51px;
  top: 35px;
  font-size: 2.2rem;
  overflow-y: scroll;
  background-color: #ffffff00;
  z-index: 33;
  width: 773px;
  height: 383px;
  scale: -1;
  padding-right: 80px;
}

::-webkit-scrollbar {
  position: absolute;
  left: 200px;
  top: 20px;
  width: 19px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border: 8px solid transparent;
  background-clip: content-box;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #cf578d;
  box-shadow: -5px -5px 5px -1px rgba(255, 255, 255, 0.6) inset;
  border-radius: 50px;
}
