.page {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  opacity: 0;
  text-align: left;
  position: absolute;
  left: 258px;
  top: 213px;
  transition: 0.4s;
  padding-right: 20px;
  row-gap: 10px;
}

#num {
  color: #8cc9e8;
  font-family: "Gilroy Extra Bold";
}

.page:nth-child(odd) {
  font-family: "Din Pro Regular";
}

.page.active {
  opacity: 1;
}

.pagination {
  display: flex;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  left: 258px;
  top: 523px;
}
