body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Circe Regular";
  src: url("./fonts/Circe-Regular.eot");
  src: url("./fonts/Circe-Regular.eot") format("embedded-opentype"),
    url("./fonts/Circe-Regular.woff") format("woff"),
    url("./fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Regular";
  src: url("./fonts/DINPro.eot");
  src: url("./fonts/DINPro.eot") format("embedded-opentype"),
    url("./fonts/DINPro.woff") format("woff"),
    url("./fonts/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Bold";
  src: url("./fonts/DINPro-Bold.eot");
  src: url("./fonts/DINPro-Bold.eot") format("embedded-opentype"),
    url("./fonts/DINPro-Bold.woff") format("woff"),
    url("./fonts/DINPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("./fonts/Gilroy-Light.eot");
  src: url("./fonts/Gilroy-Light.eot") format("embedded-opentype"),
    url("./fonts/Gilroy-Light.woff") format("woff"),
    url("./fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/Gilroy-Regular.eot");
  src: url("./fonts/Gilroy-Regular.eot") format("embedded-opentype"),
    url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("./fonts/Gilroy-ExtraBold.eot");
  src: url("./fonts/Gilroy-ExtraBold.eot") format("embedded-opentype"),
    url("./fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("./fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* reset styles */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* == 10px == 1rem | 1.8 rem == 18px etc... */
}
